.banner {
  padding: 1rem;
  margin: 1rem 0;
  text-align: center;
}

.banner p {
  text-align: center !important;
  font-weight: bold;
  color: inherit;
}

.banner.--gray {
  background-color: var(--smokegray-d2);
  color: #fff;
}

.banner.--green {
  background-color: var(--dorkodu);
  color: #fff;
}