/*----------  Descriptive List  ----------*/

.descriptive-list {
  padding: 1rem;
}

.descriptive-list__title {
  text-align: left !important;
  padding: 0 !important;
}

.descriptive-list__description {
  padding: 0 !important;
  margin: .5rem 0 2rem;
  font-size: 1.1rem !important;
}

.descriptive-list dl {
  margin-top: 1rem;
}

.descriptive-list__badge {
  display: block !important;
  padding: .8rem !important;
  float: left;
  margin-right: 1rem;
  border-radius: .75rem;
  font-size: 1.4rem;

  max-height: 3rem !important;
  max-width: 3rem !important;

  background-color: var(--dorkodu-l4);
  color: var(--dorkodu-d3);
}

.descriptive-list__badge.--alt {
  background-color: var(--dorkodu);
  color: #fff;
}

.descriptive-list__element {
  margin-bottom: 2.5rem !important;
}

.descriptive-list__element>div {
  width: calc(100% - 6rem);
}

.descriptive-list__element dt {
  font-family: "Rubik Medium";
  font-weight: 600;
  font-size: 1.3rem !important;
  padding-top: .25rem;
}

.descriptive-list__element dd {
  margin-top: .5rem;
  color: var(--smokegray-d3);
  font-weight: 600;
  line-height: 140%;
  font-size: 1.1rem;
}

@media (max-width: 500px) {
  .descriptive-list__badge {
    display: inline-block !important;
    font-size: 1.5rem;
    float: none;
    margin-right: 0;
  }

  .descriptive-list__element>div {
    width: 100% !important;
    float: none !important;
    margin-top: .5rem !important;
  }
}