/* INTRO SECTION */

.intro-section {
  padding: 0 1rem 1rem;
  max-width: 65rem;
  margin: 0 auto;
}

.intro-section__contents .typical-button {
  float: left;
  margin: .25rem auto;
  margin-left: 0;
  margin-right: 1rem;
}

.intro-section .intro-section__title {
  margin: 1rem auto .5rem;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  color: var(--smokegray-l3);
}

.intro-section .intro-section__tagline {
  margin: 0 auto;
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 600;
  text-align: center;
}

.intro-section .intro-section__statement {
  color: var(--smokegray-d3);
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0 auto;
}

.intro-section .intro-section__cta {
  margin: .75rem 0;
}

.intro-section p {
  margin-bottom: .5rem;
}

.intro-section .intro-section__contents {
  padding: 0 1rem;
}

/* INTRO SECTION - MIDDLE NOTE */

.intro-section.middle-note .intro-section__contents {
  width: 75%;
  margin: 2rem auto;
  float: none;
  display: block;
  text-align: center !important;
  padding: 1rem;
}

.intro-section.middle-note .intro-section__title,
.intro-section.middle-note .intro-section__tagline,
.intro-section.middle-note .intro-section__cta,
.intro-section.middle-note .intro-section__statement {
  text-align: center !important;
}

.intro-section.middle-note .intro-section__cta .typical-button {
  float: none;
}

@media (min-width: 200px) {
  .intro-section {
    text-align: center;
  }

  .intro-section.middle-note .intro-section__contents {
    width: 100%;
  }

  .intro-section .intro-section__title,
  .intro-section .intro-section__tagline,
  .intro-section .intro-section__statement {
    text-align: left;
  }

  .intro-section__contents {
    max-width: 32rem;
    margin: 0 auto;
  }
}

@media (min-width: 900px) {
  .intro-section {
    background-color: #fff;
  }
}

@media (min-width: 1000px) {
  .intro-section .intro-section__contents {
    display: inline-block;
    width: 55%;
  }

  .intro-section .intro-section__contents .intro-section__title,
  .intro-section .intro-section__contents .intro-section__statement,
  .intro-section .intro-section__contents .intro-section__tagline {
    text-align: left;
  }

  .intro-section .image-set {
    width: 40%;
    float: left;
    margin-top: 0;
    padding-top: 0;
  }
}

@media (min-width: 1200px) {
  .intro-section.middle-note .intro-section__contents {
    width: 75%;
  }
}
